.border-bottom { border-bottom: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default)) !important; }
.col-9 { width: 74.99999997%; }
.color-fg-muted, .fgColor-muted { color: var(--fgColor-muted, var(--color-fg-muted)) !important; }
.d-inline-block { display: inline-block !important; }
.f6 { font-size: var(--h6-size, 12px) !important; }
.Link--muted { color: var(--fgColor-muted) !important; }
.Link--muted:hover { color: var(--fgColor-link) !important; }
.mb-1 { margin-bottom: var(--base-size-4, 4px) !important; }
.mb-2 { margin-bottom: var(--base-size-8, 8px) !important; }
.mr-1 { margin-right: var(--base-size-4, 4px) !important; }
.mr-3 { margin-right: var(--base-size-16, 16px) !important; }
.mt-2 { margin-top: var(--base-size-8, 8px) !important; }
.no-wrap { white-space: nowrap !important; }
.octicon { display: inline-block; overflow: visible !important; vertical-align: text-bottom; fill: currentColor; }
.pr-4 { padding-right: var(--base-size-24, 24px) !important; }
.repo { padding: 10px; margin: 10px 0; border-radius: 8px; display: flex; align-items: center; }
.repo a { text-decoration: none; font-weight: bold; }
.repo img { width: 80px; height: 80px; margin-right: 15px; object-fit: cover; border-radius: 6px; }
.repo-details { flex: 1; }
a { color: var(--fgColor-accent, var(--color-accent-fg)); text-decoration: none; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; padding: 20px; color: var(--fgColor-default);	background-color: var(--bgColor-default); font-size: var(--body-font-size, 14px); line-height: 1.5; max-width: 1400px; margin: 0 auto; }
h1 { font-family: "Mona Sans", "MonaSansFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; font-weight: var(--base-text-weight-bold); color: var(--base-color-scale-white-0); font-size: var(--brand-text-size-800); line-height: var(--brand-text-lineHeight-800); letter-spacing: var(--brand-text-letterSpacing-800); margin-left: 4%; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0; }
h3 { font-size: var(--h3-size, 20px); font-weight: var(--base-text-weight-semibold, 600); }
h3:hover > a { text-decoration: underline; }

:root {
  --base-color-scale-white-0: #ffffff;
  --base-text-weight-bold: 700;
  --base-text-weight-semibold: 600;
  --bgColor-default: #212830;
  --body-font-size: 0.875rem;
  --borderColor-default: #3d444d;
  --brand-text-letterSpacing-800: -0.03em;
  --brand-text-lineHeight-800: 1.2;
  --brand-text-size-800: 4rem;
  --fgColor-accent: #478be6;
  --fgColor-default: #d1d7e0;
  --fgColor-link: var(--fgColor-accent);
  --fgColor-muted: #9198a1;
  --h0-size: 2.5rem;
  --h00-size: 3rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --h4-size: 1rem;
  --h5-size: 0.875rem;
  --h6-size: 0.75rem;
  color-scheme: dark;
}